<div class="bg-dark">
  <div class="container">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">B.TECH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="./home">Home</a>
        </li>
      </ul>
      <form class="d-flex">
        <a href="./login2" class="mx-4"><i class="bi bi-person-fill white"></i></a>
        <div class="cartDiv" [routerLink]="['/myCart']">
          <i class="bi bi-cart3"></i>
          <span class="text-light">{{counter.length}}</span>
        </div>
      </form>
    </div>
  </div>

</nav>
</div>
</div>
