<div class="mt-3">
  <div class="container bg-secondary p-3">
  <form [formGroup]="loginForm" (ngSubmit)="login($event)">
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <ng-container *ngIf="getName.touched">
        <p *ngIf="getName.hasError('required')">Name is required</p>
        <p *ngIf="getName.hasError('pattern')">not valid Name</p>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="Price" class="form-label">Price</label>
      <input type="text" class="form-control" id="Price" formControlName="Price">
      <ng-container *ngIf="getPrice.touched">
        <p *ngIf="getPrice.hasError('required')">Price is required</p>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" formControlName="description">
      <ng-container *ngIf="getDescription.touched">
        <p *ngIf="getDescription.hasError('required')">description is required</p>
        <p *ngIf="getDescription.hasError('minLength')">Length should be more than two</p>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Image</label>
      <input type="text" class="form-control" id="img" formControlName="img">
      <ng-container *ngIf="getimg.touched">
        <p *ngIf="getimg.hasError('required')">img is required</p>
      </ng-container>
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
    <button *ngIf="productId" class="btn btn-success" (click)="alterProduct($event)">Edit Product</button>
  </form>
  </div>
  </div>

